# Java
target/
build/
bin/
!.mvn/wrapper/maven-wrapper.jar

# WebUI Builds
tmp/

# WebUI dependencies
node_modules/
bower_components/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
