<mat-card>
  <div class="card-header">
  <mat-card-header>Create Global Announcement</mat-card-header>
  </div>





  <mat-card-content>

    <form (ngSubmit)="loginUser()" #f="ngForm">

      <!--<div *ngIf="errMsg" class="error-message">{{errMsg}}</div>-->


      <!--<mat-form-field class="input-form-field">-->
        <!--<input matInput type="text" placeholder="Username" name="username" [(ngModel)]="model.username" >-->
      <!--</mat-form-field>-->

      <!--<mat-form-field class="input-form-field">-->
        <!--<input matInput type="text" placeholder="Password" name="password" [(ngModel)]="model.password" >-->
      <!--</mat-form-field>-->


      <!--<button class="submit-button" type="submit">Login</button>-->

    </form>
  </mat-card-content>
</mat-card>

