<div class="nav navbar-nav side-nav">
  <div class="nav-title"><span class="title">Nexia</span></div>
  <div><a href="#">Account Manager</a></div>
  <div><a href="#">Practice Manager</a></div>
  <div><a href="#">Provider Manager</a></div>
  <div><a [routerLink]="'/pcuser'">User Manager</a></div>
  <div><a href="#">Privacy Policy</a></div>
  <div><a [routerLink]="'/announcement'">Global Announcement</a></div>
  <br/>
  <div class="nav-title"><span class="title">Admin</span></div>
  <div><a href="#">General User Manager</a></div>
  <div><a href="#">Audit Log</a></div>
</div>


